---
---     
<ul id="cd-primary-nav" class="menu menu-wrapper"><li id="menu-item-73" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-73"><a href="https://www.fullertonhealth.com/sg/about-us/who-we-are">About Us</a>
    <ul class="sub-menu">
        <li id="menu-item-3030" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3030"><a href="https://www.fullertonhealth.com/sg/about-us/who-we-are/">Who We Are</a></li>
        <li id="menu-item-3101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3101"><a href="https://www.fullertonhealth.com/sg/about-us/awards-accolades/">Awards &amp; Accolades</a></li>
    <li class="back"><a href="#">Back</a></li></ul>
    </li>
    <li id="menu-item-3437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3437"><a href="https://www.fullertonhealth.com/sg/services/overview/">Services</a>
    <ul class="sub-menu">
        <li id="menu-item-3414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3414"><a href="https://www.fullertonhealth.com/sg/services/primary-care/">GP</a>
        <ul class="sub-menu">
            <li id="menu-item-17914" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17914"><a href="https://www.fullertonhealth.com/sg/services/executive-health-screening/">Executive Health Screening</a></li>
            <li id="menu-item-12814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12814"><a href="https://www.fullertonhealth.com/sg/mastercard/">Mastercard Packages</a></li>
            <li id="menu-item-9148" class="hide menu-item menu-item-type-post_type menu-item-object-page menu-item-9148"><a href="https://www.fullertonhealth.com/sg/uob-womens-privileges/">Executive Health Screening Packages for UOB Card Holders</a></li>
        <li class="back"><a href="#">Back</a></li></ul>
    </li>
        <li id="menu-item-17931" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17931"><a href="https://www.fullertonhealth.com/sg/services/specialty-care/">Specialty Care</a></li>
        <li id="menu-item-7319" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7319"><a href="#">Migrant Worker Care</a>
        <ul class="sub-menu">
            <li id="menu-item-11815" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11815"><a href="https://www.fullertonhealth.com/sg/services/primary-care-plan/">Primary Care Plan</a></li>
            <li id="menu-item-12136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12136"><a href="https://www.fullertonhealth.com/sg/services/onboard-centre/">Onboard Centre</a></li>
        <li class="back"><a href="#">Back</a></li></ul>
    </li>
        <li id="menu-item-3573" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3573"><a href="#">Digital Services</a>
        <ul class="sub-menu">
            <li id="menu-item-3410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3410"><a href="https://www.fullertonhealth.com/sg/services/telemedicine/">Digital Services – Telemedicine</a></li>
            <li id="menu-item-7626" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7626"><a href="https://www.fullertonhealth.com/sg/services/tele-art/">Tele-ART</a></li>
            <li id="menu-item-16196" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16196"><a href="https://www.fullertonhealth.com/sg/services/concierge-app/">Concierge – Mobile App</a></li>
            <li id="menu-item-15258" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15258"><a href="https://www.fullertonhealth.com/sg/services/livefuller/">LiveFuller – Mobile App</a></li>
        <li class="back"><a href="#">Back</a></li></ul>
    </li>
        <li id="menu-item-3412" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3412"><a href="https://www.fullertonhealth.com/sg/services/network-management/">Network Management</a></li>
        <li id="menu-item-3438" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3438"><a href="#">Subsidiaries</a>
        <ul class="sub-menu">
            <li id="menu-item-3439" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3439"><a target="_blank" rel="noopener" href="http://comfortambulance.com/">Comfort Ambulance</a></li>
            <li id="menu-item-3440" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3440"><a target="_blank" rel="noopener" href="http://radlink.com.sg/">RadLink</a></li>
            <li id="menu-item-3441" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3441"><a target="_blank" rel="noopener" href="https://urbanrehab.com.sg/">UrbanRehab</a></li>
            <li id="menu-item-3442" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3442"><a target="_blank" rel="noopener" href="http://www.orchardheart.com/">Orchard Heart Specialist</a></li>
        <li class="back"><a href="#">Back</a></li></ul>
    </li>
        <li id="menu-item-3146" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3146"><a href="https://www.fullertonhealth.com/sg/covid19-vaccination/">COVID-19</a>
        <ul class="sub-menu">
            <li id="menu-item-6500" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6500"><a href="#">COVID-19 Vaccination</a>
            <ul class="sub-menu">
                <li id="menu-item-6297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6297"><a href="https://www.fullertonhealth.com/sg/private-vaccination-program/">Private Vaccination Program</a></li>
                <li id="menu-item-3232" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3232"><a href="https://www.fullertonhealth.com/sg/response-to-covid-19/">Response to COVID-19</a></li>
                <li id="menu-item-8929" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8929"><a href="https://www.fullertonhealth.com/sg/covid-19-vaccination-centres/">COVID-19 Vaccination Centre</a></li>
            <li class="back"><a href="#">Back</a></li></ul>
    </li>
            <li id="menu-item-6501" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6501"><a href="#">COVID-19 Testing</a>
            <ul class="sub-menu">
                <li id="menu-item-3144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3144"><a href="https://www.fullertonhealth.com/sg/covid-19-express-pcr-test/">COVID-19 Express PCR Test</a></li>
                <li id="menu-item-9914" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9914"><a href="https://www.fullertonhealth.com/sg/covid-19-art-and-pcr-test/">COVID-19 ART and PCR</a></li>
                <li id="menu-item-7879" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7879"><a href="https://www.fullertonhealth.com/sg/covid-19-supervised-tele-art-unwell/">COVID-19 Supervised Tele-ART (Unwell)</a></li>
            <li class="back"><a href="#">Back</a></li></ul>
    </li>
            <li id="menu-item-6502" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6502"><a href="#">COVID-19 Response &amp; Safety Measure</a>
            <ul class="sub-menu">
                <li id="menu-item-3231" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3231"><a href="https://www.fullertonhealth.com/sg/covid-19/">COVID-19 Safety Measures</a></li>
            <li class="back"><a href="#">Back</a></li></ul>
    </li>
        <li class="back"><a href="#">Back</a></li></ul>
    </li>
    <li class="back"><a href="#">Back</a></li></ul>
    </li>
    <li id="menu-item-18205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18205"><a href="https://www.fullertonhealth.com/sg/services/executive-health-screening/">Health Screening</a></li>
    <li id="menu-item-11837" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11837"><a href="https://www.fullertonhealth.com/sg/services/healthier-sg/">Healthier SG</a></li>
    <li id="menu-item-12972" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12972"><a href="#">News</a>
    <ul class="sub-menu">
        <li id="menu-item-8592" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8592"><a href="https://www.fullertonhealth.com/sg/category/fh-news-events/">News &amp; Events</a></li>
        <li id="menu-item-8394" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8394"><a href="https://www.fullertonhealth.com/sg/category/fh-press-releases/">Press Releases</a></li>
        <li id="menu-item-8396" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8396"><a href="https://www.fullertonhealth.com/sg/category/resources/">Resources</a></li>
        <li id="menu-item-8524" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8524"><a href="https://www.fullertonhealth.com/sg/news-events/the-mighty-storm-ebook/">The Mighty Storm E-book</a></li>
        <li id="menu-item-19005" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19005"><a href="https://www.fullertonhealth.com/sg/news-events/mentally-healthier-in-sg/">Mentally Healthier in SG</a></li>
    <li class="back"><a href="#">Back</a></li></ul>
    </li>
    <li id="menu-item-18856" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18856"><a href="https://www.fullertonhealth.com/sg/careers/">Career</a></li>
    <li id="menu-item-17109" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17109"><a href="#">Contact</a>
    <ul class="sub-menu">
        <li id="menu-item-11693" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11693"><a href="https://www.fullertonhealth.com/sg/contact-us/">Contact Us</a></li>
        <li id="menu-item-17096" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17096"><a href="https://www.fullertonhealth.com/sg/contact/locate-a-clinic/">Locate a Clinic</a></li>
    <li class="back"><a href="#">Back</a></li></ul>
    </li>
    <li id="menu-item-3672" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3672"><a href="https://www.fullertonhealth.com/">Group</a></li>
</ul>
