header {
  position: fixed;
  z-index: 9;
  transition: all 300ms;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header.white-bg {
  background: #fff !important;
  color: #000;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}
header .content__container.container-header {
  padding: 0 10px;
}
header #menuButton {
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 0.5rem;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
header nav {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}
header nav ul .sub-menu {
  display: none;
  flex-direction: column;
  transition: all 300ms ease-in;
  position: absolute;
  min-width: 240px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #ccc;
  gap: 0;
}
header nav ul .sub-menu li a {
  display: block;
  padding: 10px 10px;
}
header nav ul .sub-menu li a:hover {
  background-color: #eeeff1;
}
header nav ul li a {
  text-decoration: none;
  color: inherit;
  opacity: 0.72;
  transition: opacity linear 150ms;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  display: block;
  padding: 10px 0;
}
header nav ul li a :hover {
  opacity: 1;
}
header nav ul li.has-submenu {
  position: relative;
}
header nav ul li.has-submenu .sub-menu-1 {
  opacity: 0;
  height: 0;
}
header nav ul li.has-submenu:hover .sub-menu-1 {
  height: auto;
  opacity: 1;
  display: flex;
}
header nav ul li.has-submenu:hover .sub-menu-1 li.has-submenu:hover .sub-menu-2 {
  height: auto;
  opacity: 1;
  display: flex;
  left: 100%;
  top: 0;
}
header nav ul li.back {
  display: none;
}
header nav ul li:last-child .sub-menu-1 .sub-menu {
  left: -100% !important;
}
body {
  left: 0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  body[mobile-menu-open] {
    left: -350px;
    transition: all 0.3s ease-in-out;
  }
  header {
    background-color: #fff;
  }
  header .container-header .header-logo-menu__container {
    display: flex;
  }
  header .container-header .header-logo-menu__container .header-logo__link {
    width: 90%;
  }
  header .container-header .header-logo-menu__container #menuButton {
    display: block;
    width: 10%;
    text-align: end;
  }
  header .header-nav__container {
    transition: all 0.3s ease-in-out;
    background: #FFF;
    position: fixed;
    height: 100%;
    width: 350px;
    right: -350px;
    top: 0;
  }
  header .header-nav__container nav {
    display: block;
    align-items: start;
    flex-direction: column;
  }
  header .header-nav__container nav ul {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  header .header-nav__container nav ul li {
    display: contents;
    width: 100%;
    text-align: left !important;
  }
  header .header-nav__container nav ul li a {
    display: block;
    width: 100%;
    padding: 10px 10px;
  }
  header .header-nav__container nav ul li.has-submenu {
    position: relative;
  }
  header .header-nav__container nav ul li.has-submenu:hover .sub-menu-1 {
    display: unset;
  }
  header .header-nav__container nav ul li.has-submenu:hover .sub-menu-1 li.has-submenu:hover .sub-menu-2 {
    display: unset;
  }
  header .header-nav__container nav ul li.has-submenu .sub-menu {
    left: 100%;
    transition: all 0.3s ease-in;
    height: 100%;
    background: #fff;
    z-index: 107;
    top: 0;
  }
  header .header-nav__container nav ul li.has-submenu .sub-menu.open-sub {
    left: 0% !important;
    opacity: 1 !important;
  }
  header .header-nav__container nav ul li.back {
    display: block;
  }
  header[mobile-menu-open] .header-nav__container {
    right: 0!important;
    box-shadow: 0 5px 5px #ccc;
  }
}
