---
import Layout from '../../layouts/sg/Layout.astro';

import { wpquery } from '../../data/wordpress';

export async function getStaticPaths() {
  const data = await wpquery({
    query: `
    query LoadAllPosts {
        posts {
          nodes {
            title
            slug
            featuredImage {
              node {
                mediaItemUrl
                srcSet
                sizes
                altText
              }
            }
            content(format: RENDERED)
            author {
              node {
                name
              }
            }
          }
        }
      }
    `,
  });

  return data.posts.nodes.map((post: any) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;

---
<!-- <Layout title={`${post.title.rendered} ` } meta_description={`${post.yoast_head_json.description}` } body_class={`wp blog-inner ${post.title.rendered}` }> -->
<Layout  title='Test' meta_description='Test' body_class='Test'>  
	<article>
    <h1>{post.title}</h1>
    <p>
      <a href="/fhg/index2/">&larr; back to all posts</a>
    </p>
  </article>
</Layout>