footer {
  background: url(../../../fhg/assets/bg_footer.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fafafa;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  padding: 10px 0;
  position: absolute;
  width: 100%;
}
footer .content__container.container-footer {
  padding: 10px 10px;
  margin: -100px auto 10px;
}
footer .content__container.container-footer .slider-container {
  background: #fff;
  border-radius: 5px;
  padding: 5px 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 10px;
}
.slider .slide-track {
  animation: scroll 50s linear infinite;
  display: flex;
  width: calc(250px * 14);
  gap: 10px;
}
.slider .slide-track:hover {
  animation-play-state: paused;
}
.slider .slide {
  height: 130px;
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.slider .slide img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-220px * 7));
  }
}
