---
import Layout from '../../layouts/sg/Layout.astro';
import Container from '../../components/Container.astro';
import ContactForm from '../../components/forms/ContactForm.astro';
---
<Layout title="Fullerton Health Singapore" meta_description="Fullerton Health Singapore" body_class="home">

	<section id="about">
		<Container className="container-about">
			<h2 class="notshow fromleft">About <span class="text-gradient">Fullerton Health Singapore</span></h2>				
		</Container>
	</section>
	<section id="contact-us">			
		<Container className="container-contact-us">			
			<div class="feedback-form">
				<h2 class="notshow fromleft"> <span class="text-gradient">Contact Form</span></h2>
				<ContactForm></ContactForm>
			</div>		
		</Container>
							
	</section>
</Layout>