---
import Layout from '../layouts/group/Layout.astro';
---
<Layout title="Fullerton Health Group" meta_description="We are the leading integrated healthcare platform to provide affordable and accessible care for all in Asia Pacific. Learn more about us." body_class="wp-page home">
  <div class="main"></div>
</Layout>

