---
import Container from '../../components/Container.astro';
// import footerBG from '../../assets/bg_footer.jpg';
---
<footer>
    <Container className="container-footer content__container">
        <ul class="social-links" role="list">
            <li class="facebook"><a href="https://www.facebook.com/fullertonhealth/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="twitter"><a href="https://twitter.com/fullertonhealth"><i class="fa fa-twitter"></i></a></li>
            <li class="linkedin"><a href="https://sg.linkedin.com/company/fullerton-health"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <h5 class="text-center">Copyright © 2023</h5>
    </Container>    
</footer>