---
import { Icon } from 'astro-icon'
const {  rightMenu } = Astro.props;
import Container from '../../components/Container.astro';
---
<script type="module" >

</script>  

<header id="t2delHeader" class={`${rightMenu ? "header--right" : ``.trim()}`}>
  <Container className="container-header">
  <div class="header-logo-menu__container">
  <button id="menuButton" title="Open Main Menu">
    <span id="menuButtonIconHam">
        <div class="baseline-menu"></div>
      <Icon name="ic:baseline-menu" width="24px" height="24px" />
    </span>
    <span id="menuButtonIconClose" hidden>
      <Icon name="ic:baseline-close" width="24px" height="24px" />
      <div class="baseline-close"></div>
    </span>
  </button>
  <a class="header-logo__link" href="/fhg/sg">
    <slot name="logo">
    </slot>
  </a>
  </div>
  <div class="header-nav__container">
    <slot name="nav">
      
    </slot>
  </div>
  <div class="header-action-item__container hide">
    <slot name="action-item">
    </slot>
  </div>
</Container>
</header>